<a [routerLink]="videoLink">
  <div class="video-card-container">
    <video #videoElement (loadedmetadata)="onVideoMetadataLoaded($event)" [hidden]="true">
      <source [src]="videoUrl" type="video/mp4" />
    </video>
    <img [src]="imageUrl" />
    <span class="title">{{ video?.title }}</span>
    <div class="stats">
      <div class="duration stats-pill">
        <i class="fa-solid fa-clock"></i>
        <span>{{ duration }}</span>
      </div>
      <div class="size stats-pill">
        <i class="fa-solid fa-floppy-disk"></i>
        <span>{{ sizeInMB }}</span>
      </div>
      <div class="datetime stats-pill">
        <i class="fa-solid fa-calendar-days"></i>
        <span>{{ localDatetime }}</span>
      </div>
    </div>
  </div>
</a>
