// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

@import 'https://cdn.jsdelivr.net/npm/ngx-toastr/toastr.css';

* {
  box-sizing: border-box;
}

html {
  font-size: 96%;
  @media (max-width: 1200px) {
    font-size: 93%;
  }
  @media (max-width: 992px) {
    font-size: 90%;
  }
  @media (max-width: 768px) {
    font-size: 87%;
  }
  @media (max-width: 576px) {
    font-size: 84%;
  }
}

body {
  min-height: 100vh;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #ddd;
  padding: 0 !important;
  margin: 0 !important;
  .body-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    height: 40vh;
    width: 100%;
    background-color: #da135d;
  }
}
